<mat-expansion-panel>
  <mat-expansion-panel-header> Day 01 - 2022 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="01" year="2022"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header> Day 02 - 2022 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="02" year="2022"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header> Day 03 - 2022 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="03" year="2022"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header> Day 04 - 2022 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="04" year="2022"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header> Day 05 - 2022 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="05" year="2022"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header> Day 06 - 2022 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="06" year="2022"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header> Day 07 - 2022 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="07" year="2022"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header> Day 08 - 2022 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="08" year="2022"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header> Day 09 - 2022 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="09" year="2022"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header> Day 10 - 2022 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="10" year="2022"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header> Day 11 - 2022 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="11" year="2022"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header> Day 12 - 2022 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="12" year="2022"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header> Day 13 - 2022 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="13" year="2022"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header> Day 14 - 2022 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="14" year="2022"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header> Day 15 - 2022 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="15" year="2022"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header> Day 16 - 2022 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="16" year="2022"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header> Day 17 - 2022 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="17" year="2022"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header> Day 18 - 2022 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="18" year="2022"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header> Day 19 - 2022 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="19" year="2022"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header> Day 20 - 2022 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="20" year="2022"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header> Day 21 - 2022 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="21" year="2022"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header> Day 22 - 2022 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="22" year="2022"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header> Day 23 - 2022 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="23" year="2022"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header> Day 24 - 2022 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="24" year="2022"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header> Day 25 - 2022 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="25" year="2022"></app-day>
  </ng-template>
</mat-expansion-panel>
