<app-day-y2021-d01 *ngIf="day === '01' && year === '2021'" [data]="data | async" (result)="catchResult($event)"></app-day-y2021-d01>
<app-day-y2021-d02 *ngIf="day === '02' && year === '2021'" [data]="data | async" (result)="catchResult($event)"></app-day-y2021-d02>
<app-day-y2021-d03 *ngIf="day === '03' && year === '2021'" [data]="data | async" (result)="catchResult($event)"></app-day-y2021-d03>
<app-day-y2021-d04 *ngIf="day === '04' && year === '2021'" [data]="data | async" (result)="catchResult($event)"></app-day-y2021-d04>
<app-day-y2021-d05 *ngIf="day === '05' && year === '2021'" [data]="data | async" (result)="catchResult($event)"></app-day-y2021-d05>
<app-day-y2021-d06 *ngIf="day === '06' && year === '2021'" [data]="data | async" (result)="catchResult($event)"></app-day-y2021-d06>
<app-day-y2021-d07 *ngIf="day === '07' && year === '2021'" [data]="data | async" (result)="catchResult($event)"></app-day-y2021-d07>
<app-day-y2021-d08 *ngIf="day === '08' && year === '2021'" [data]="data | async" (result)="catchResult($event)"></app-day-y2021-d08>
<app-day-y2021-d09 *ngIf="day === '09' && year === '2021'" [data]="data | async" (result)="catchResult($event)"></app-day-y2021-d09>
<app-day-y2021-d10 *ngIf="day === '10' && year === '2021'" [data]="data | async" (result)="catchResult($event)"></app-day-y2021-d10>
<app-day-y2021-d11 *ngIf="day === '11' && year === '2021'" [data]="data | async" (result)="catchResult($event)"></app-day-y2021-d11>
<app-day-y2021-d12 *ngIf="day === '12' && year === '2021'" [data]="data | async" (result)="catchResult($event)"></app-day-y2021-d12>
<app-day-y2021-d13 *ngIf="day === '13' && year === '2021'" [data]="data | async" (result)="catchResult($event)"></app-day-y2021-d13>
<app-day-y2021-d14 *ngIf="day === '14' && year === '2021'" [data]="data | async" (result)="catchResult($event)"></app-day-y2021-d14>
<app-day-y2021-d15 *ngIf="day === '15' && year === '2021'" [data]="data | async" (result)="catchResult($event)"></app-day-y2021-d15>
<app-day-y2021-d16 *ngIf="day === '16' && year === '2021'" [data]="data | async" (result)="catchResult($event)"></app-day-y2021-d16>
<app-day-y2021-d17 *ngIf="day === '17' && year === '2021'" [data]="data | async" (result)="catchResult($event)"></app-day-y2021-d17>
<app-day-y2021-d18 *ngIf="day === '18' && year === '2021'" [data]="data | async" (result)="catchResult($event)"></app-day-y2021-d18>
<app-day-y2021-d19 *ngIf="day === '19' && year === '2021'" [data]="data | async" (result)="catchResult($event)"></app-day-y2021-d19>
<app-day-y2021-d20 *ngIf="day === '20' && year === '2021'" [data]="data | async" (result)="catchResult($event)"></app-day-y2021-d20>
<app-day-y2021-d21 *ngIf="day === '21' && year === '2021'" [data]="data | async" (result)="catchResult($event)"></app-day-y2021-d21>
<app-day-y2021-d22 *ngIf="day === '22' && year === '2021'" [data]="data | async" (result)="catchResult($event)"></app-day-y2021-d22>
<app-day-y2021-d23 *ngIf="day === '23' && year === '2021'" [data]="data | async" (result)="catchResult($event)"></app-day-y2021-d23>
<app-day-y2021-d24 *ngIf="day === '24' && year === '2021'" [data]="data | async" (result)="catchResult($event)"></app-day-y2021-d24>
<app-day-y2021-d25 *ngIf="day === '25' && year === '2021'" [data]="data | async" (result)="catchResult($event)"></app-day-y2021-d25>
<app-day-y2022-d01 *ngIf="day === '01' && year === '2022'" [data]="data | async" (result)="catchResult($event)"></app-day-y2022-d01>
<app-day-y2022-d02 *ngIf="day === '02' && year === '2022'" [data]="data | async" (result)="catchResult($event)"></app-day-y2022-d02>
<app-day-y2022-d03 *ngIf="day === '03' && year === '2022'" [data]="data | async" (result)="catchResult($event)"></app-day-y2022-d03>
<app-day-y2022-d04 *ngIf="day === '04' && year === '2022'" [data]="data | async" (result)="catchResult($event)"></app-day-y2022-d04>
<app-day-y2022-d05 *ngIf="day === '05' && year === '2022'" [data]="data | async" (result)="catchResult($event)"></app-day-y2022-d05>
<app-day-y2022-d06 *ngIf="day === '06' && year === '2022'" [data]="data | async" (result)="catchResult($event)"></app-day-y2022-d06>
<app-day-y2022-d07 *ngIf="day === '07' && year === '2022'" [data]="data | async" (result)="catchResult($event)"></app-day-y2022-d07>
<app-day-y2022-d08 *ngIf="day === '08' && year === '2022'" [data]="data | async" (result)="catchResult($event)"></app-day-y2022-d08>
<app-day-y2022-d09 *ngIf="day === '09' && year === '2022'" [data]="data | async" (result)="catchResult($event)"></app-day-y2022-d09>
<app-day-y2022-d10 *ngIf="day === '10' && year === '2022'" [data]="data | async" (result)="catchResult($event)"></app-day-y2022-d10>
<app-day-y2022-d11 *ngIf="day === '11' && year === '2022'" [data]="data | async" (result)="catchResult($event)"></app-day-y2022-d11>
<app-day-y2022-d12 *ngIf="day === '12' && year === '2022'" [data]="data | async" (result)="catchResult($event)"></app-day-y2022-d12>
<app-day-y2022-d13 *ngIf="day === '13' && year === '2022'" [data]="data | async" (result)="catchResult($event)"></app-day-y2022-d13>
<app-day-y2022-d14 *ngIf="day === '14' && year === '2022'" [data]="data | async" (result)="catchResult($event)"></app-day-y2022-d14>
<app-day-y2022-d15 *ngIf="day === '15' && year === '2022'" [data]="data | async" (result)="catchResult($event)"></app-day-y2022-d15>
<app-day-y2022-d16 *ngIf="day === '16' && year === '2022'" [data]="data | async" (result)="catchResult($event)"></app-day-y2022-d16>
<app-day-y2022-d17 *ngIf="day === '17' && year === '2022'" [data]="data | async" (result)="catchResult($event)"></app-day-y2022-d17>
<app-day-y2022-d18 *ngIf="day === '18' && year === '2022'" [data]="data | async" (result)="catchResult($event)"></app-day-y2022-d18>
<app-day-y2022-d19 *ngIf="day === '19' && year === '2022'" [data]="data | async" (result)="catchResult($event)"></app-day-y2022-d19>
<app-day-y2022-d20 *ngIf="day === '20' && year === '2022'" [data]="data | async" (result)="catchResult($event)"></app-day-y2022-d20>
<app-day-y2022-d21 *ngIf="day === '21' && year === '2022'" [data]="data | async" (result)="catchResult($event)"></app-day-y2022-d21>
<app-day-y2022-d22 *ngIf="day === '22' && year === '2022'" [data]="data | async" (result)="catchResult($event)"></app-day-y2022-d22>
<app-day-y2022-d23 *ngIf="day === '23' && year === '2022'" [data]="data | async" (result)="catchResult($event)"></app-day-y2022-d23>
<app-day-y2022-d24 *ngIf="day === '24' && year === '2022'" [data]="data | async" (result)="catchResult($event)"></app-day-y2022-d24>
<app-day-y2022-d25 *ngIf="day === '25' && year === '2022'" [data]="data | async" (result)="catchResult($event)"></app-day-y2022-d25>
<app-day-y2023-d01 *ngIf="day === '01' && year === '2023'" [data]="data | async" (result)="catchResult($event)"></app-day-y2023-d01>
<app-day-y2023-d02 *ngIf="day === '02' && year === '2023'" [data]="data | async" (result)="catchResult($event)"></app-day-y2023-d02>
<app-day-y2023-d03 *ngIf="day === '03' && year === '2023'" [data]="data | async" (result)="catchResult($event)"></app-day-y2023-d03>
<app-day-y2023-d04 *ngIf="day === '04' && year === '2023'" [data]="data | async" (result)="catchResult($event)"></app-day-y2023-d04>
<app-day-y2023-d05 *ngIf="day === '05' && year === '2023'" [data]="data | async" (result)="catchResult($event)"></app-day-y2023-d05>
<app-day-y2023-d06 *ngIf="day === '06' && year === '2023'" [data]="data | async" (result)="catchResult($event)"></app-day-y2023-d06>
<app-day-y2023-d07 *ngIf="day === '07' && year === '2023'" [data]="data | async" (result)="catchResult($event)"></app-day-y2023-d07>
<app-day-y2023-d08 *ngIf="day === '08' && year === '2023'" [data]="data | async" (result)="catchResult($event)"></app-day-y2023-d08>
<app-day-y2023-d09 *ngIf="day === '09' && year === '2023'" [data]="data | async" (result)="catchResult($event)"></app-day-y2023-d09>

<form>
  <mat-form-field appearance="fill" style="width: 100%; text-align: center">
    <mat-label
      [ngClass]="{
        'color-part-one': currentPart === 'one',
        'color-part-two': currentPart === 'two'
      }"
      >Result</mat-label
    >
    <input *ngIf="!displayTextArea()" [disabled]="true" matInput [value]="result" style="color: black" />
    <textarea *ngIf="displayTextArea()" [disabled]="true" [value]="result" style="color: black" matInput></textarea>
  </mat-form-field>
</form>

<div style="text-align: center">
  <button mat-raised-button color="primary" (click)="solvePartOne()" style="margin-right: 10px">Solve Part One</button>
  <button mat-raised-button color="accent" (click)="solvePartTwo()">Solve Part Two</button>
</div>
