<mat-expansion-panel [expanded]="souldBeExpanded(1)">
  <mat-expansion-panel-header> Day 01 - 2023 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="01" year="2023"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel [expanded]="souldBeExpanded(2)">
  <mat-expansion-panel-header> Day 02 - 2023 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="02" year="2023"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel [expanded]="souldBeExpanded(3)">
  <mat-expansion-panel-header> Day 03 - 2023 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="03" year="2023"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel [expanded]="souldBeExpanded(4)">
  <mat-expansion-panel-header> Day 04 - 2023 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="04" year="2023"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel [expanded]="souldBeExpanded(5)">
  <mat-expansion-panel-header> Day 05 - 2023 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="05" year="2023"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel [expanded]="souldBeExpanded(6)">
  <mat-expansion-panel-header> Day 06 - 2023 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="06" year="2023"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel [expanded]="souldBeExpanded(7)">
  <mat-expansion-panel-header> Day 07 - 2023 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="07" year="2023"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel [expanded]="souldBeExpanded(8)">
  <mat-expansion-panel-header> Day 08 - 2023 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="08" year="2023"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel [expanded]="souldBeExpanded(9)">
  <mat-expansion-panel-header> Day 09 - 2023 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="09" year="2023"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel [expanded]="souldBeExpanded(10)">
  <mat-expansion-panel-header> Day 10 - 2023 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="10" year="2023"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel [expanded]="souldBeExpanded(11)">
  <mat-expansion-panel-header> Day 11 - 2023 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="11" year="2023"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel [expanded]="souldBeExpanded(12)">
  <mat-expansion-panel-header> Day 12 - 2023 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="12" year="2023"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel [expanded]="souldBeExpanded(13)">
  <mat-expansion-panel-header> Day 13 - 2023 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="13" year="2023"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel [expanded]="souldBeExpanded(14)">
  <mat-expansion-panel-header> Day 14 - 2023 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="14" year="2023"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel [expanded]="souldBeExpanded(15)">
  <mat-expansion-panel-header> Day 15 - 2023 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="15" year="2023"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel [expanded]="souldBeExpanded(16)">
  <mat-expansion-panel-header> Day 16 - 2023 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="16" year="2023"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel [expanded]="souldBeExpanded(17)">
  <mat-expansion-panel-header> Day 17 - 2023 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="17" year="2023"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel [expanded]="souldBeExpanded(18)">
  <mat-expansion-panel-header> Day 18 - 2023 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="18" year="2023"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel [expanded]="souldBeExpanded(19)">
  <mat-expansion-panel-header> Day 19 - 2023 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="19" year="2023"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel [expanded]="souldBeExpanded(20)">
  <mat-expansion-panel-header> Day 20 - 2023 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="20" year="2023"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel [expanded]="souldBeExpanded(21)">
  <mat-expansion-panel-header> Day 21 - 2023 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="21" year="2023"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel [expanded]="souldBeExpanded(22)">
  <mat-expansion-panel-header> Day 22 - 2023 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="22" year="2023"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel [expanded]="souldBeExpanded(23)">
  <mat-expansion-panel-header> Day 23 - 2023 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="23" year="2023"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel [expanded]="souldBeExpanded(24)">
  <mat-expansion-panel-header> Day 24 - 2023 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="24" year="2023"></app-day>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel [expanded]="souldBeExpanded(25)">
  <mat-expansion-panel-header> Day 25 - 2023 </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-day day="25" year="2023"></app-day>
  </ng-template>
</mat-expansion-panel>
